* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.recipes {
  background-color: white;
  padding: 5px;
  position: absolute;
  text-align: center;
  align-items: center;
  max-width: 300px;
  justify-content: space-around;
  border-radius: 15px;
  margin: auto;
  box-shadow: 0 3px 6px grey;
  margin-top: 70px; 
  margin-left: 50px; 
}

 

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin-right: 20px;
}

 

a:hover {
  color: blueviolet;
  transition: 500ms;
}

 

a:visited {
  color: blueviolet;
}

#recette{
    margin-top: -20px;
}