.formbudget{
	background-color: white;  
	min-width: 100%;
	min-height: 50%;
	border-radius: 15px;
	box-shadow: 0 3px 6px grey;
	margin-top: 10%;
}

.dob{
	
	display: block;
	margin: auto;
  	padding: 15px;
  	margin-top: 20px;

 	width : 50%;
 	height : 20%;

  	appearance: none;
  	background: none;
  	border: none;
  	outline: none;
  	background-color: #ededed;
  	border-radius: 12px;
  
  	color: #313131;
  	font-size: 1.5vw;
    transition: 0.4s ease;
}

.dob:focus {
  background-color: rgba(179, 182, 255, 0.41);
}

.ajout{
	display: block;
	margin: center;
	margin-bottom: 10%;
}

.labelSupp2{
	font-size: 1.5vw;
	margin-left: 33%;
}

#titre{
	font-size: 3vw;
}